[submodule "game-of-life"]
	path = game-of-life
	url = https://github.com/maheshryali123/game-of-life.git
[submodule "spring-petclinic"]
	path = spring-petclinic
	url = https://github.com/maheshryali123/spring-petclinic.git
